@import "bootstrap/dist/css/bootstrap.min.css";

.album {
  margin-top: 5px;
  width: 18rem;
}

.surprise {
  margin-top: 20px;
}
.surprise img {
  height: 200px;
  width: 300px;
}

.challenge {
  margin-bottom: 50px;
}

button + button {
  margin-left: 5px;
}
